extends layout

block content
	// Create Grid
	.container
		.row
			#advleft.col-12.col-sm-12.col-md-6.col-lg-6
				h2 About Me
				p
					| Interactive Media Design and Development (Co-op) Program	Georgian College, Barrie, ON
					| •	Web and Internet Fundamentals, Design Principles, Information Architecture.
				p Graphic Design Certification	Lotus University, Ho Chi Minh City, Vietnam
				p
					| Bachelor of Information Technology Hong Bang University, Ho Chi Minh City, Vietnam
				h2 Web Designer
				p
					| Thien Ho Duong Primary School - Ho Chi Minh City, Vietnam
					| •	Worked as a web designer, teacher,  Administration about grade, student's information, teacher's information and data.
					| •	Responsible for creating, improving, and developing Web project strategies for school
				p
					| Truong Tho Company - Ho Chi Minh City, Vietnam.
					| •	Worked as a web designer
					| •	Responsible for creating, improving, and developing Web project strategies for a company in Canada from Vietnam
					| •	I had a great success a Halloween event in Calgary. It attracted thousands of people and brought more profit for the company in 2010
			.col-12.col-sm-12.col-md-6.col-lg-6
				.row
					#adv1.col-12.col-sm-6.col-md-12.col-lg-12
						img.img-fluid(src='images/adv4.jpg', alt='')
					#adv2.col-12.col-sm-6.col-md-12.col-lg-12
						img.img-fluid(src='images/adv3.jpg', alt='')