extends layout

block content
	.container.mt-5
		main
			section
				#carousel-ptl.carousel.slide.carousel-fade(data-ride='carousel')
					.carousel-inner
						figure.carousel-item
							img.d-block.w-100(src='images/PTL1.jpg', alt='Third slide')
						figure.carousel-item
							img.d-block.w-100(src='images/PTL2.jpg', alt='four slide')
						figure.carousel-item
							img.d-block.w-100(src='images/PTL3.jpg', alt='five slide')
						figure.carousel-item.active
							img.d-block.w-100(src='images/PTL4.jpg', alt='First slide')
					// carousel-inner 
					// Controls
					a.carousel-control-prev(href='#carousel-ptl', role='button', data-slide='prev')
						// <span class="carousel-control-prev-icon" aria-hidden="true"></span>
						span.fas.fa-arrow-circle-left.fa-lg(aria-hidden='true')
						span.sr-only Previous
					a.carousel-control-next(href='#carousel-ptl', role='button', data-slide='next')
						// <span class="carousel-control-next-icon" aria-hidden="true"></span>
						span.fas.fa-arrow-circle-right.fa-lg(aria-hidden='true')
						span.sr-only Next
				// #carousel

				#pistilligallery.container
					//Heading
					.row
						.col-lg-12.text-center
							h5.jewelrygallery SOME OF MY PROJECTS
					// The project information
					.row
						.col-lg-3.col-md-6.col-sm-12.pistilligallery-item
							img.img-fluid(src=`../${project.image}`, alt=`${project.title}`)
							.pistilligallery-caption
								h3.text-muted= project.title				

	script(src='javascripts/custom.js')