extends layout

block content
	section#advert
		.row(style='background-color:#373737; padding-top:1%;')
			#advleft2.col-12.col-sm-12.col-md-3.col-lg-3
				img.img-fluid(src='images/adv1a.jpg', alt='')
			#advright2.col-12.col-sm-12.col-md-9.col-lg-9
				h2 Professional Website Design according to Customers Requirements.
				p
					| Design according to Customers Requirements 
					br
					| I Help Businesses And Brands Succeed In The Digital Age. Customer Experience. User Experience. Digital Strategy. Highlights: Product Innovation Firm, Offer Strategy, Design And Technology Services, Design-Driven Approach, Build Cutting-Edge Digital Solutions.
				p ********************************

				p
					| Design according to Customers Requirements 
					br
					| I design logos according to customers'requirements in all areas of business.
				p ********************************




